:root {
  --bgColor: #f5f5f5;
  --bgColorWhite: #fff;
  --bgCardOpacity: rgba(255, 255, 255, 0.4);
  --lightText: #f7f7f7;
  --blue: #005bd1;
  --lightBlue: #388fff;
  --lightBlueHover: #177ce8;
  --lightBlueSelect: #9ec8ff;
  --blueActive: #1363b9;
}
