@import "./color.css";

.content {
  display: flex;
  flex-direction: column;
  margin: 16px 40px 16px 40px;
  /* grid-area: content; */
  height: 85vh;
  width: 100%;
  overflow-y: scroll;
}

.content-fav {
  display: flex;
  width: 320px;
  height: 128px;
}

.figma {
  background-color: var(--bgCardOpacity);
  padding: 0 0 0 16px;
  border-radius: 18px;
  border: 2px solid var(--bgColorWhite);
  width: 320px;
  /* height: 128px; */

  min-height: 128px;
  max-height: 128px;

  overflow: hidden;
  backdrop-filter: blur(12px);
}

.figma > p {
  margin-top: 20px;
}

.figma-icon__forward {
  background: transparent;
  position: relative;
  right: -200px;
  top: -110px;

  width: 150px;
  height: 150px;

  z-index: 1;
}

.figma-icon__background {
  position: absolute;
  top: 0px;

  width: 220px;
  height: 220px;

  z-index: -1;
  filter: blur(40px);
}

.content-myself,
.content-project {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--bgCardOpacity);
  border: 2px solid var(--bgColorWhite);
  border-radius: 18px;
  width: 80%;
  padding: 16px;
  backdrop-filter: blur(12px);
}

.content-myself > p {
  margin: 0;
}

.project {
  padding: 32px;
  display: flex;
}

.project-right-side {
  display: flex;
  flex-direction: column;
}

.project-text {
  padding-left: 16px;
}

.project-text > .title {
  margin-bottom: 16px;
}

.project-links {
  display: flex;
}

.project-links-btn {
  padding: 12px 16px;
  background-color: var(--lightBlue);
  border-radius: 18px;
  color: var(--lightText);

  display: flex;
  align-items: center;
}
