@import "./header.css";
@import "./content.css";
@import "./sidebar.css";
@import "./color.css";

.title {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  margin: 0;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 24px;
}

a {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
}

a:hover {
  color: var(--lightBlueHover);
  text-decoration: underline;
}

body {
  margin: 0;
  /* background-color: var(--bgColor); */
  background: transparent url("../img/background.png");
  /* height: 80vh; */
  overflow: hidden;

  scrollbar-width: thin; /* "auto" или "thin"  */
  scrollbar-color: var(--lightBlueSelect) var(--bgCardOpacity); /* плашка скролла и дорожка */
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--bgColorWhite);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightBlueSelect);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lightBlueHover);
}

.layout {
  display: flex;
}

.circle {
  /* стили для кругов на фоне */
  top: 30vh;
  left: -10em;
  position: absolute;
  border-radius: 100%;
  background-color: var(--lightBlue);
  width: 260px;
  height: 260px;
  z-index: -10;
}

.first {
  background-color: #5887fe;
  top: 15vh;
  left: 30em;
}
