@import "./header.css";
@import "./content.css";
@import "./sidebar.css";
@import "./color.css";

.title {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  margin: 0;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 24px;
}

a {
  color: var(--blue);
  text-decoration: none;
  cursor: pointer;
  font-family: "Mulish", sans-serif;
}

a:hover {
  color: var(--lightBlueHover);
  text-decoration: underline;
}

body {
  margin: 0;
  background-color: var(--bgColor);
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "sidebar sidebar sidebar content content content content content content content content";
}
